Repository BooheeFE/react-template-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "{config,src}/**/*.{ts,tsx,js}": [
    "eslint --fix"
  ],
  "src/**/*.scss": [
    "stylelint --fix"
  ]
}

Delete index.html
  index.html
Due: none

feat: 移除无用的文件
  index.html
Due: none

feat: 配置less 和less-loader
  config/webpack/webpack.common.js
  package.json
  yarn.lock
Due: eslint --fix

feat: 新增路由嵌套形式
  README.md
  config/webpack/webpack.common.js
  src/pages/Children/OneChildren/index.tsx
  src/pages/Children/index.tsx
  src/router/index.tsx
  src/router/routerList.ts
  src/tools/consts.ts
  src/tools/utils.ts
  tsconfig.json
Due: eslint --fix

feat: 尝试esbuild-loader
  config/webpack/webpack.common.js
Due: eslint --fix

feat: change readme
  README.md
Due: none

feat: 去掉多余插件
  config/webpack/webpack.dev.js
  package.json
Due: eslint --fix

feat: 修改babel配置
  .babelrc
  package.json
  yarn.lock
Due: none

feat: 修改配置
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  package.json
  yarn.lock
Due: eslint --fix

feat: 优化配置项目
  .eslintignore
  .eslintrc.js
  .stylelintrc
  config/postcss.config.js
  config/webpack/webpack.common.js
  config/webpack/webpack.config.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  package.json
  src/pages/Dashboard/index.scss
  yarn.lock
Due: eslint --fix, stylelint --fix

feat: 去掉多余配置
  .eslintrc.js
Due: none

feat: 优化配置
  config/webpack/webpack.common.js
Due: eslint --fix
